In [20]:
# Imports
import pandas as pd
from IPython.display import display
from sklearn.preprocessing import MinMaxScaler
import utils

In [21]:
# Reading data
column_names = ['C'+str(i) for i in range(15)]
adult_data = pd.read_csv('adult.csv',
                         names=column_names,
                         header=None,
                         sep=' *, * ',
                         engine="python",
                         converters={
                            'C9': lambda x: float(x == 'Male'),
                            'C14': lambda x: float(x == '>50K')
                         })

In [22]:
# Preprocessing
display(adult_data)
# Find out which columns have missing values
all_columns = list(adult_data.columns)
missing_value_columns = []
for column in all_columns:
    if '?' in adult_data[column].values.tolist():
        missing_value_columns.append(column)

for column in missing_value_columns:
    adult_data[column].replace(['?'], adult_data[column].mode(), inplace=True)

columns_to_encode = ['C1', 'C3', 'C5', 'C6', 'C7', 'C8', 'C13']

for column in columns_to_encode:
    adult_data = utils.encode_and_bind(adult_data, column)

adult_data.insert(len(adult_data.columns)-1, 'C14', adult_data.pop('C14'))

all_columns = list(adult_data.columns)
adult_data[all_columns] = MinMaxScaler().fit_transform(adult_data[all_columns])

,C0,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,1.0,2174,0,40,United-States,0.0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,1.0,0,0,13,United-States,0.0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,1.0,0,0,40,United-States,0.0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,1.0,0,0,40,United-States,0.0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,0.0,0,0,40,Cuba,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,0.0,0,0,38,United-States,0.0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,1.0,0,0,40,United-States,1.0
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,0.0,0,0,40,United-States,0.0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,1.0,0,0,20,United-States,0.0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,0.0,15024,0,40,United-States,1.0

In [23]:
display(adult_data)
adult_data.to_csv('adult-data.csv')

,C0,C2,C4,C9,C10,C11,C12,C1_Federal-gov,C1_Local-gov,C1_Never-worked,...,C13_Portugal,C13_Puerto-Rico,C13_Scotland,C13_South,C13_Taiwan,C13_Thailand,C13_Trinadad&Tobago,C13_United-States,C13_Vietnam,C14
0,0.301370,0.044302,0.800000,1.0,0.021740,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.048238,0.800000,1.0,0.000000,0.0,0.122449,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.138113,0.533333,1.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.151068,0.400000,1.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.221488,0.800000,0.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.166404,0.733333,0.0,0.000000,0.0,0.377551,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.315068,0.096500,0.533333,1.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
32558,0.561644,0.094827,0.533333,0.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,0.068493,0.128499,0.533333,1.0,0.000000,0.0,0.193878,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,0.479452,0.187203,0.533333,0.0,0.150242,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [24]:
print(adult_data.shape)

(32561, 98)