In [7]:
# Imports
import pandas as pd
from IPython.display import display
from sklearn.preprocessing import MinMaxScaler

In [8]:
# One-hot encode
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]], prefix='', prefix_sep='')
    res = pd.concat([original_dataframe, dummies], axis=1)
    res = res.drop([feature_to_encode], axis=1)
    return res

In [9]:
# Reading data
adult_data = pd.read_csv('adult.csv',
                         header=None,
                         sep=' *, * ',
                         engine="python",
                         converters={
                            9: lambda x: float(x == 'Male'),
                            14: lambda x: float(x == '>50K')
                         })

In [10]:
# Preprocessing

# Find out which columns have missing values
all_columns = list(adult_data.columns)
missing_value_columns = []
for column in all_columns:
    if '?' in adult_data[column].values.tolist():
        missing_value_columns.append(column)

columns_to_encode = [1, 3, 5, 6, 7, 8, 13]

for column in columns_to_encode:
    adult_data = encode_and_bind(adult_data, column)

adult_data.drop('?', axis=1, inplace=True)

all_columns = list(adult_data.columns)
adult_data[all_columns] = MinMaxScaler().fit_transform(adult_data[all_columns])

/home/gourav/ML/Offlines/Offline 1/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/home/gourav/ML/Offlines/Offline 1/venv/lib/python3.8/site-packages/sklearn/utils/validation.py:1675: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [11]:
display(adult_data)
adult_data.to_csv('adult-data.csv')

,0,2,4,9,10,11,12,14,Federal-gov,Local-gov,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
0,0.301370,0.044302,0.800000,1.0,0.021740,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.452055,0.048238,0.800000,1.0,0.000000,0.0,0.122449,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.287671,0.138113,0.533333,1.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.493151,0.151068,0.400000,1.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.150685,0.221488,0.800000,0.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,0.136986,0.166404,0.733333,0.0,0.000000,0.0,0.377551,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32557,0.315068,0.096500,0.533333,1.0,0.000000,0.0,0.397959,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32558,0.561644,0.094827,0.533333,0.0,0.000000,0.0,0.397959,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32559,0.068493,0.128499,0.533333,1.0,0.000000,0.0,0.193878,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
32560,0.479452,0.187203,0.533333,0.0,0.150242,0.0,0.397959,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [12]:
print(adult_data.shape)

(32561, 105)